/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Vazirmatn:wght@100..900&display=swap');

@theme {
   --color-bg: #282c33;
   --color-primery: #c778dd;
   --color-text: #abb2bf;

   /* fonts */
   --font-fira: 'Fira Code', monospace;
}

html[lang='en'] {
   font-family: 'Fira Code', monospace;
}

html[lang='fa'] {
   font-family: 'Vazirmatn', sans-serif;
}
